<div class="todo">
  <div class="reorder-tool">
    <div class="reorder-container">
      <span class="reorder-handler">
        <svg-icon name="drag" [svgStyle]="{ 'width.px': 24, 'height.px': 24 }"></svg-icon>
      </span>
    </div>
  </div>
  <app-radio-button
    class="mark-tool"
    [checked]="false"
    [primary]="todo.priority.colors.primary"
    [secondary]="todo.priority.colors.secondary"
  ></app-radio-button>
  <div class="todo-content">
    <div class="todo-content-wrap">
      <span class="todo-title">{{ todo.title }}</span>
    </div>
    <div class="todo-info">
      <a *ngIf="todo.subTodoIds.length" class="todo-info__item linked-branches" href="">
        <svg-icon name="branch" [svgStyle]="{ 'width.px': 16, 'height.px': 16 }"></svg-icon
        ><span class="todo-info__text">{{ todo.subTodoIds.length }}</span>
      </a>
      <button appTooltip [tlpTemplate]="endDateTooltip" *ngIf="todo.hasEndTime" class="todo-info__item term">
        <svg-icon name="small-calendar-solid" [svgStyle]="{ 'width.px': 12, 'height.px': 12 }"></svg-icon
        ><span class="todo-info__text">{{ todo.endDate | date: 'HH:mm' }}</span>
      </button>
      <button *ngIf="todo.comments.length" class="todo-info__item comments">
        <svg-icon name="comment-solid" [svgStyle]="{ 'width.px': 12, 'height.px': 12 }"></svg-icon
        ><span class="todo-info__text">{{ todo.comments.length }}</span>
      </button>
      <div *ngIf="todo.tags.length" class="todo-info__item projects-info">
        {{ todo.statuses[0].title }}
      </div>
    </div>
  </div>
  <div class="todo-toolbar">
    <button appTooltip [tlpTemplate]="editTooltip" class="todo-toolbar__item">
      <svg-icon name="pen" [svgStyle]="{ 'width.px': 24, 'height.px': 24 }"></svg-icon>
    </button>
    <button appTooltip="Срок" class="todo-toolbar__item">
      <svg-icon name="small-calendar" [svgStyle]="{ 'width.px': 24, 'height.px': 24 }"></svg-icon>
    </button>
    <button appTooltip="Комментировать" class="todo-toolbar__item">
      <svg-icon name="comment" [svgStyle]="{ 'width.px': 24, 'height.px': 24 }"></svg-icon>
    </button>
    <button [appMenuTrigger]="menu" [menuData]="todo" appTooltip="Другие действия в задаче" class="todo-toolbar__item">
      <svg-icon name="x-menu" [svgStyle]="{ 'width.px': 15, 'height.px': 3 }"></svg-icon>
    </button>
  </div>
</div>

<ng-template #editTooltip>
  <div class="tooltip sm-space">
    <div class="mr-2">Изменить</div>
    <div><span class="key mr-1">alt</span><span class="key">клик</span></div>
  </div>
</ng-template>

<ng-template #endDateTooltip>
  <div class="tooltip end-date-tooltip">
    <div>
      <div>
        <time class="end-date">{{ todo.endDate | date: 'EEEEEE d MMM HH:mm' | capitalize }}</time>
      </div>
      <p *ngIf="todo.endDate | timePassed as timePassedText">{{ timePassedText }}</p>
    </div>
    <div class="divider"></div>
    <div>{{ todoCount }} задач к выполнению</div>
  </div>
</ng-template>
