<app-expansion-panel tag="tags">
  <app-expansion-panel-header>Метки</app-expansion-panel-header>
  <app-expansion-panel-body>
    <ul class="nav-list" cdkDropList>
      <li *ngFor="let tag of tags$ | async; trackBy: tagTrackyBy" cdkDrag>
        <a [routerLink]="'./label/' + tag.title">
          <app-nav-list-item [todoCount]="tag.count" [color]="tag.color" [hasMenu]="true" [menu]="menu" icon="tag">
            <span>{{ tag.title }}</span>
            <button class="nav-list-item__replace-tool" cdkDragHandle>
              <svg-icon name="drag" svgClass="icon_size_m"></svg-icon>
            </button>
          </app-nav-list-item>
        </a>
      </li>
    </ul>
  </app-expansion-panel-body>
</app-expansion-panel>
