.auth-frame {
  .submit {
    margin-bottom: 20px;
  }

  .registration-agreement {
    color: #666;
  }

  .help-block {
    padding-bottom: 30px;
  }

  hr.separator {
    margin-top: 30px;
    margin-bottom: 30px;
    height: 0;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #fff;
    position: relative;
  }
}
