.schedule-holder {
  padding: 5px 0;
  display: flex;
  color: #808080;

  &_view-row {
    flex-direction: column;
  }

  &_view-col {
    .schedule-holder__item {
      &:nth-child(n + 2) {
        margin-left: 12px;
      }
    }
  }

  &__item {}

  &__btn {
    border-radius: 3px;
    line-height: 0;

    &:hover {
      background-color: #f3f3f3;
    }
  }
}
