<ul class="schedule-holder" [class.schedule-holder_view-col]="isColView" [class.schedule-holder_view-row]="!isColView">
  <li *ngFor="let item of list$ | async" class="schedule-holder__item">
    <button (click)="setSchedule(item.type)" class="schedule-holder__btn" type="button">
      <ng-container *ngIf="item.applySvgIconTextDirective; else elseTemplate">
        <svg-icon
          [appSvgIconText]="currDay"
          [tTooltip]="item.tooltipText"
          [name]="item.iconName"
          [svgClass]="item.iconClass"
        ></svg-icon>
      </ng-container>
      <ng-template #elseTemplate>
        <svg-icon [tTooltip]="item.tooltipText" [name]="item.iconName" [svgClass]="item.iconClass"></svg-icon>
      </ng-template>
    </button>
  </li>
  <!-- <li *ngIf="showTodayBtn$ | async" class="schedule-holder__item">
    <button class="schedule-holder__btn" type="button">
      <svg-icon
        [appSvgIconText]="currDay"
        tTooltip="Сегодня"
        name="calendar-today"
        svgClass="icon_size_l icon_color_green"
      ></svg-icon>
    </button>
  </li>
  <li class="schedule-holder__item">
    <button class="schedule-holder__btn" type="button">
      <svg-icon tTooltip="Завтра" name="sun" svgClass="icon_size_l icon_color_tenne"></svg-icon>
    </button>
  </li>
  <li class="schedule-holder__item">
    <button class="schedule-holder__btn" type="button">
      <svg-icon tTooltip="На выходных" name="couch" svgClass="icon_size_l icon_color_royal-blue"></svg-icon>
    </button>
  </li>
  <li class="schedule-holder__item">
    <button class="schedule-holder__btn" type="button">
      <svg-icon
        tTooltip="Следующая неделя"
        name="arrow-right-calendar"
        svgClass="icon_size_l icon_color_purple-heart"
      ></svg-icon>
    </button>
  </li>
  <li class="schedule-holder__item">
    <button class="schedule-holder__btn" type="button">
      <svg-icon tTooltip="Без срока" name="endless-schedule" svgClass="icon_size_l"></svg-icon>
    </button>
  </li>
  <li class="schedule-holder__item">
    <button class="schedule-holder__btn" type="button">
      <svg-icon tTooltip="Еще" name="ellipsis-h-alt" svgClass="icon_size_l"></svg-icon>
    </button>
  </li> -->
</ul>
