:host {
  display: block;
  padding: 8px 16px 4px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.comment-editor-form {
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 8px 0;
  margin-bottom: 4px;
  border-radius: 3px;
}

.comment-editor-toolbar {
  border-top: 1px solid #eee;
  padding-top: 5px;
  text-align: left;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .comment-editor-tools {
    display: flex;

    .comment-editor-tool {
      border-radius: 3px;
      border: 1px solid transparent;
      width: 38px;
      height: 34px;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: transparent;
      opacity: 1;
      color: grey;
      padding-bottom: 2px;

      &:hover {
        color: #202020 !important;
        border-color: #eee !important;
        box-shadow: none;
        background: #eee;
      }
    }
  }

  .comment-editor-submit {
    font-weight: bold;
  }
}
