.auth-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.auth-frame {
  border-radius: 8px;
  border: solid 1px #dbdbdb;
  background: #fff;
  padding: 25px;

  .auth-logo {
    margin-bottom: 14px;

    .auth-logo__link {
      display: inline-block;
      color: #dd4b39;
      text-decoration: none;
      font-size: 20px;
      font-weight: 600;
    }
  }

  .auth-content {
    width: 400px;

    h1 {
      font-size: 26px;
      font-weight: 700;
      color: #000;
      margin: 0 0 1.1em;
      padding: 0;
    }
  }

  .auth-form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    .field {
      width: 100%;
      margin-bottom: 15px;

      label {
        display: block;
        font-weight: 700;
        font-size: 13px;
        margin-bottom: 10px;
      }

      input {
        box-sizing: border-box;
        font-size: 13px;
        font-weight: 400;
        width: 100%;
        padding: 0.75em 1em;
        border: 1px solid #ddd;
        border-radius: 5px;
      }
    }

    .submit {
      display: block;
      width: 100%;
      padding: 9px 12px;
      border-radius: 3px;
      border: 1px solid #db4c3f;
      box-sizing: border-box;
      background-color: #db4c3f;
      color: #fff;
      cursor: pointer;
      text-align: center;
      font-size: 13px;
      font-weight: 700;
      line-height: 17px;
    }
  }

  .help-block {
    margin-top: 20px;
    text-align: center;
    font-size: 13px;
  }

  .link {
    color: #666;
    text-decoration: none;
    cursor: pointer;

    &.primary {
      color: #dd4b39;
    }

    &:hover {
      text-decoration: underline;
    }
  }

  hr {
    margin: 1em 0;
    padding: 0;
    border: 0;
    color: #ddd;
    background-color: #ddd;
    height: 1px;
  }
}
