<ng-container *let="reactions$ | async as reactions">
  <button
    (click)="react(reaction.emoji)"
    *ngFor="let reaction of reactions"
    tTooltip
    [tlpTemplate]="tooltip"
    [tlpTemplateContext]="reaction"
    class="comment-reaction"
  >
    <span class="comment-reaction-emoji">{{ reaction.emoji }}</span>
    <span class="comment-reaction-count">{{ reaction.count }}</span>
  </button>

  <button [tMenuTrigger]="emojiMenu" (afterClose)="react($event)" *ngIf="reactions?.length" class="react-btn">
    <svg-icon name="small-plus" [svgStyle]="{ 'width.px': 13, 'height.px': 13 }"></svg-icon>
  </button>
</ng-container>

<ng-template #tooltip let-authors="authors">
  <div class="tooltip reaction-tooltip">
    <div *ngFor="let author of authors">{{ author.name }}</div>
  </div>
</ng-template>
