:root {
  --main-color: rgb(211, 94, 94);
  --icon-green-color: #058527;
  --icon-tenne-color: #ad6200;
  --icon-royal-blue-color: #246fe0;
  --icon-purple-heart-color: #692fc2;

  --nav-list-item-hover-background-color: #eee;
  --nav-list-item-menu-btn-color: #808080;
  --nav-list-item-menu-btn-hover-color: #202020;

  --expansion-panel-header-color: #333;
  --expansion-panel-header-icon-color: rgba(0, 0, 0, 0.54);
}
