.header {
  height: 44px;
  padding: 0 42px;

  background-color: #db4c3f;

  &-inner {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &-toolbar {
    // height: 100%;
  }
}
