<ul appMenuList *ngIf="data$ | async as todo">
  <li appMenuItem appMenuClose class="icon-menu-item">
    <svg-icon class="icon-menu-item__icon" svgClass="icon_size_m" name="pen"></svg-icon>
    <div class="icon-menu-item__content">Изменить задачу</div>
  </li>
  <li appMenuItem class="icon-menu-item">
    <svg-icon class="icon-menu-item__icon" svgClass="icon_size_m" name="list"></svg-icon>
    <div class="icon-menu-item__content">Перейти к проекту</div>
  </li>
  <li appMenuDivider></li>
  <li class="section-menu-item">
    <div class="section-menu-item__label">Срок</div>
    <app-todo-schedule-holder (scheduleChange)="updateTodoSchedule($event)" [date]="todo.endDate"></app-todo-schedule-holder>
  </li>
  <li class="section-menu-item">
    <div class="section-menu-item__label">Приоритет</div>
    <app-todo-priority-list [selectedPriority]="todo.priorityId" (onselect)="updateTodoPriority($event)"></app-todo-priority-list>
  </li>
  <li appMenuDivider></li>
  <li appMenuItem class="icon-menu-item">
    <svg-icon class="icon-menu-item__icon" svgClass="icon_size_m" name="alarm-clock"></svg-icon>
    <div class="icon-menu-item__content">Напоминания</div>
  </li>
  <li appMenuDivider></li>
  <li appMenuItem class="icon-menu-item">
    <svg-icon class="icon-menu-item__icon" svgClass="icon_size_m" name="arrow-circle-right"></svg-icon>
    <div class="icon-menu-item__content">Перенести в проект</div>
  </li>
  <li appMenuItem class="icon-menu-item">
    <svg-icon class="icon-menu-item__icon" svgClass="icon_size_m" name="rect-plus"></svg-icon>
    <div class="icon-menu-item__content">Дублировать</div>
  </li>
  <li appMenuItem class="icon-menu-item">
    <svg-icon class="icon-menu-item__icon" svgClass="icon_size_m" name="link"></svg-icon>
    <div class="icon-menu-item__content">Скопировать ссылку на задачу</div>
  </li>
  <li appMenuDivider></li>
  <li appMenuItem (click)="removeTodo()" class="icon-menu-item icon-danger-menu-item">
    <svg-icon class="icon-menu-item__icon" svgClass="icon_size_m" name="trash-alt"></svg-icon>
    <div class="icon-menu-item__content">Удалить задачу</div>
  </li>
</ul>
