<ul class="priority-list">
  <li
    *ngFor="let priority of priorities$ | async; trackBy: priorityTrackBy"
    [appTooltip]="priority.title"
    [ngClass]="{ 'priority-item_selected': priority.id === selectedPriority }"
    class="priority-item"
  >
    <button class="priority-item__btn" type="button" (click)="onselect.emit(priority)">
      <svg-icon
        [ngStyle]="{ color: priority.colors.primary }"
        [name]="priority.iconFlagTransparent ? 'transparent-flag' : 'flag'"
        svgClass="icon_size_m"
      ></svg-icon>
    </button>
  </li>
</ul>
