<div class="nav-list-item">
  <ng-content select="[cdkDragHandle]"></ng-content>
  <div class="nav-list-item__content">
    <div class="nav-list-item__icon" [ngStyle]="{ color: color }">
      <ng-container *ngIf="icon; else elseTemplate">
        <svg-icon [name]="icon" svgClass="icon_size_m"></svg-icon>
      </ng-container>
      <ng-template #elseTemplate>
        <div class="circle-icon"></div>
      </ng-template>
    </div>
    <div>
      <ng-content></ng-content>
    </div>
    <span class="nav-list-item__counter">{{ todoCount }}</span>
    <button class="nav-list-item__menu-btn" *ngIf="hasMenu">
      <svg-icon name="x-menu" [svgStyle]="{ 'width.px': 15, 'height.px': 3 }"></svg-icon>
    </button>
  </div>
</div>
