<ul class="menu-list">
  <li class="menu-item icon-menu-item"></li>
  <li class="menu-divider"></li>
  <li class="menu-item icon-menu-item"></li>
  <li class="menu-item icon-menu-item"></li>
  <li class="menu-item icon-menu-item"></li>
  <li class="menu-item icon-menu-item"></li>
  <li class="menu-item icon-menu-item"></li>
  <li class="menu-divider"></li>
  <li class="menu-item icon-menu-item">calendar</li>
  <li class="menu-divider"></li>
  <li class="menu-item icon-menu-item">+Добавить время</li>
</ul>

<!-- ngIf="(data$ | async) as todo" -->
